.github/**
.vscode/**
.vscode-test/**
build/**
tracks/**
src/**
scripts/**
web/**
dist/site/**
dist/webviews/track-codec.wasm
**/*.ts
**/*.mts
**/*.map
*.log
.gitignore
tsconfig.json
tsconfig.*.json
vsc-extension-quickstart.md

.gitmodules
baguette/**
baguette.router.config.json
baguette.codec.config.json
